<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#ce1111" />
  <link rel="manifest" href="./app.webmanifest">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
  <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
  <link rel="icon" href="./favicon.jpeg">
  <title>Kelru'rest APP</title>
</head>

<body>
  <a href="#main" class="skip-link">Skip to Content</a>

  <header class="header">
    <div class="header__drawer">
      <h1 class="header__title">KELRU'REST APP</h1>
    </div>
    <button class="header__menu" aria-label="navigation-menu">☰</button>
    <nav id="nav" class="nav">
      <div class="close__element">
        <button aria-label="close navigation menu" class="close__menu">&times;</button>
      </div>
      <ul class="nav__list">
        <li class="nav__item"><a href="#">Home</a></li>
        <li class="nav__item"><a href="#/favorites">Favorite</a></li>
        <li class="nav__item"><a href="https://web.facebook.com/fahrualfarizi.alfarizi.9/" target="__blank">About</a></li>
      </ul>
    </nav>
  </header>
  <div class="kelru__restapp">
    <div id="head"></div>
  </div>
  <footer>
    <p>Copyright &copy; 2023 - KELRU'REST APP - INDONESIAN FOOD</p>
  </footer>
</body>

</html>